#example1{
	width: 400px;
	height: 400px;
	border-radius: 200px;
	margin: auto;
	position: relative;
	background-color: #C4CD14;
}
#circle1{
	width: 80px;
	height:80px;
	background-color: white;
	position: absolute;
	top:  70px;
	left: 80px;
	border-radius: 50px;
	z-index: 5;
	
}
#circle2{
	width: 80px;
	height: 80px;
	background-color: white;
	position: absolute;
	top: 70px;
	right: 80px;
	border-radius: 50px;
	z-index: 5;
}
#circle3{
	width: 70px;
	height:70px;
	background-color: white;
	position: absolute;
	top: 200px;
	left: 165px;
	border-radius: 50px;
	z-index: 5;
}
#smile1{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background-color: #C4CD14;
	bottom:45px;
	left: 50px;
	position: absolute;
	z-index: 4;
	

}
#smile{
	width: 200px;
	height: 200px;
	border-radius: 600px;
	background-color: white;
	bottom:25px;
	left: 100px;
	position: absolute;
	

}